body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 1rem -1rem;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

nav ul {
  padding: 1rem;
}

nav li {
  float: left;
  list-style: none;
  padding: 0 1rem;
}

main {
  margin-bottom: 1rem;
  min-height: calc(100vh - 10rem);
}

footer {
  border-top: 1px solid #222;
  width: 100%;
  height: 3rem;
}

dl {
  display: grid;
  grid-template-columns: 5% auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

blockquote {
  padding: 20px;
  margin: 0 0 20px 20px;
  border-left: 3px solid #00e; /* Updated link color */
  background-color: #f0f6ff; /* Lighter version of #00e */
}

