/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
} */

main {
    max-width: 800px;
    margin: 20px auto;
    /* padding: 20px; */
}

ul {
    list-style: none;
}

article p {
    margin-left: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.date2 {
    margin: 0 0 0 20px;
}

.date3 {
    margin: 0 0 10px 20px;
}


h4, .date {
    display: inline;
}

a {
    margin-left: 20px;
}

.button, .note {
    display: block;
}

.note {
    font-style: italic;
}

.button {
    background-color: #00e;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
}

.button:hover {
    background-color: #ddd;
}